<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="车床">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.70144 -4.1633E-17 0.8325"
        rpy="0 0 0" />
      <mass
        value="981.31" />
      <inertia
        ixx="409.38"
        ixy="1.5831E-14"
        ixz="93.805"
        iyy="552.06"
        iyz="-7.6928E-14"
        izz="246.68" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://车床/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://车床/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="crush">
    <inertial>
      <origin
        xyz="-0.28839 1.4572E-16 1.0339"
        rpy="0 0 0" />
      <mass
        value="103.97" />
      <inertia
        ixx="8.9558"
        ixy="1.1683E-16"
        ixz="-0.14842"
        iyy="9.6107"
        iyz="1.6646E-16"
        izz="3.0554" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://车床/meshes/crush.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://车床/meshes/crush.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="crush"
    type="prismatic">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="crush" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>